body {
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
  }

button {
  font-family: inherit;
}
  
  .game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 25px;
  }
  
  .card {
    height: 7em;
    width: 6em;
    background-color: green;
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }

  .red {
    background-color: red;
  }

  .orange {
    background-color: orange;
  }

  .yellow {
    background-color: yellow;
  }

  .grey {
    background-color: grey;
  }

  .blue {
    background-color: blue;
  }

  .indigo {
    background-color: indigo;
  }

  .violet {
    background-color: violet;
  }

  .brown {
    background-color: brown;
  }

  .unflipped {
    background-color: black;
  }

  .matched {
    border: 3px solid red;
  }
  
  .game-info {
    display: flex;
    justify-content: space-evenly;
  }

  #win-message {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }

  #lose-message {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }

  #win-message.show {
    display: flex;
    animation: message-show 500ms forwards;
  }

  #lose-message.show {
    display: flex;
    animation: message-show 500ms forwards;
  }

  @keyframes message-show {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, 0.7);
      font-size: 6em;
    }
  }