body {
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    height: 100vh;
  }
  
  .game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 25px;
  }
  
  .card {
    height: 50px;
    width: 40px;
    background-color: green;
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }

  .red {
    background-color: red;
  }

  .orange {
    background-color: orange;
  }

  .yellow {
    background-color: yellow;
  }

  .grey {
    background-color: grey;
  }

  .blue {
    background-color: blue;
  }

  .indigo {
    background-color: indigo;
  }

  .violet {
    background-color: violet;
  }

  .brown {
    background-color: brown;
  }

  .unflipped {
    background-color: black;
  }

  .matched {
    border: 3px solid red;
  }
  
  .game-info {
    display: flex;
    justify-content: space-evenly;
  }